

.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Monaco";
    -fx-font-weight: bold;
    -fx-text-fill: #c09035;
    -fx-control-inner-background: derive(#12363a,20%);
}

.text-area {
    -fx-background-color: #12363a;
    -fx-control-inner-background: #12363a;
    -fx-font-family: "Monaco";
    -fx-font-size: 10pt;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #78c7cf;
}
